<!DOCTYPE html>
<html lang="en">
<head>
    <title>Interactive Blog</title>
    <!-- Add your CSS or Bootstrap here -->
</head>
<body>
    <div class="container">
        <div class="row">
            <!-- Blog section (2/3 width) -->
            <div class="col-8" id="blog">
                <!-- Your blog content here -->
            </div>

            <!-- Chat section (1/3 width) -->
            <div class="col-4" id="chat">
                <!-- Your chat interface here -->
            </div>
        </div>
    </div>
</body>
</html>
